@charset 'utf-8';

.jqcNotify-element {
    width: 24px;
    height: 24px;
    background-image: url('./images/icon_notify.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    cursor: pointer;
    position: relative;
}
.jqcNotify-element:hover,
.jqcNotify-element.active {
    background-image: url('./images/icon_notify_active.png');
}
.jqcNotify-container {
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    width: 300px;
    max-height: 500px;
    user-select: none;
}
.jqcNotify-container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jqcNotify-badge{
    height: 24px;
    min-width: 24px;
    background: #C63136;
    color: #fff;
    border-radius: 12px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
    border: 2px solid #fff;
    top: -4px;
    left: 15px;
}
.jqcNotify-more{
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
}
.jqcNotfiy-more-left{
    font-size: 14px;
    color: #222;
}
.jqcNotfiy-more-right{
    width: 10px;
    height: 20px;
    background: url('./images/icon_arrow.png') no-repeat center;
}
.jqcNotfiy-more-left span{
    margin-left: 10px;
    color: #999;
}
.jqcNotify-scrollBox{
    padding: 0 20px;
    font-size: 12px;
    max-height: 450px;
    position: relative;
    overflow: hidden;
}
.jqcNotify-scroller{
    position: absolute;
    top: 0;
    right: 5px;
    width: 10px;
    height: 100%;
    border-radius: 5px;
    background: #444;
    opacity: .3;
    display: none;
    /*transition: all .3s;*/
}
.jqcNotify-scroller.hover,
.jqcNotify-scroller:hover{
    opacity: .8;
}
.jqcNotify-items{
    max-height: 450px;
    overflow-y: scroll;
    width: 450px;
}
.jqcNotify-item-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    height: 20px;
}
.jqcNotify-item-title span{
    color: #999;
    min-width: 120px;
    margin-left: 10px;
    transform-origin: right;
    transform: scale(.75);
}
.jqcNotify-item-title p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jqcNotify-items > div{
    padding: 9px 0;
    border-bottom: 1px solid #f2f2f2;
    width: 260px;
}
.jqcNotify-items > div:nth-last-child(1){
    border-bottom: none;
}
.jqcNotify-item-body{
    color: #666;
    line-height: 20px;
    word-break: break-all;
}