@charset 'utf-8';
.jqcContextMenuBox {
    position: absolute;
    overflow: hidden;
    width: 160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none;
}
.jqcContextMenuBox .fakeScrollBox{
    overflow: hidden;
    width: 158px;
    max-height: 224px;
    background: #fff;
    border: 1px solid #c9c9c9;
}
.jqcContextMenuDoubleSize{
    width: 329px;
}
.jqcContextMenuTrebleSize{
    width: 479px;
}
.jqcContextMenuBox .fakeScrollBox2{
    position: absolute;
    top: 0;
    left: 159px;
}
.jqcContextMenuBox .fakeScrollBox3{
    position: absolute;
    top: 0;
    left: 318px;
}
.jqcContextMenuBox .jqcContextMenuLeftBox{
    width: 200px;
    overflow-y: scroll;
}
.jqcContextMenuBox .jqcContextMenuRightBox{
    width: 200px;
    overflow-y: scroll;
}
.jqcContextMenuBox .jqcContextMenuThirdLevelBox{
    width: 200px;
    overflow-y: scroll;
}
.jqcContextMenuBox div.jqcContextMenu-item {
    width: 158px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #333;
    text-indent: 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.jqcContextMenuBox div.jqcContextMenu-item:hover {
    background: #F2F2F2;
}
.jqcContextMenuBox div.jqcContextMenu-active {
    background: #F2F2F2;
}
.jqcContextMenuBox .slide{
    width: 5px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    background: #d8d8d8;
}
.jqcContextMenuBox .slide1{
    left: 152px;
}
.jqcContextMenuBox .slide2{
    left: 311px;
}
.jqcContextMenuBox .slide3{
    left: 470px;
}