@charset 'UTF-8';
.jqcCalendar-container {
    background: #fff;
    padding: 10px;
}
.jqcCalendar-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jqcCalendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #222;
    padding-bottom: 30px;
    background: #fff;
}
.jqcCalendar-title {
    height: 30px;
    line-height: 30px;
    max-width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}
.jqcCalendar-select input{
    height: 30px;
    width: 70px;
    border-radius: 2px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
    color: #666;
    font-size: 12px;
}
.jqcCalendar-select input:focus{
    outline: none;
}
.jqcCalendar-body {
    position: relative;
}
.jqcCalendar-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #e4e6ee;
}
.jqcCalendar-week {
    display: flex;
    height: 50px;
    border: 1px solid #e4e6ee;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}
.jqcCalendar-body .jqcCalendar-item{
    border-left: 1px solid #e4e6ee;
    border-bottom: 1px solid #e4e6ee;
    width: 14.2857%;
    transition: all 0.5s;
    position: relative;
    padding: 25px 0 0;
    background: #E9F5FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    flex-shrink: 0;
}
.jqcCalendar-body .jqcCalendar-item .jqcCalendar-item-container{
    width: 100%;
    font-size: 14px;
    color: #333;
    height: 100%;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-all;
    padding: 0 3px;
}
.jqcCalendar-body .jqcCalendar-item > textarea{
    width: 100%;
    font-size: 14px;
    height: 30px;
    background: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 5px;
    resize: none;
    height: 100%;
}
.jqcCalendar-body .jqcCalendar-item > textarea:focus{
    outline: none;
}
.jqcCalendar-body .jqcCalendar-item.success{
    background: #E9F5FC;
}
.jqcCalendar-body .jqcCalendar-item.error .jqcCalendar-date{
    color: #AEB3D3;
}
.jqcCalendar-body .jqcCalendar-item.error .jqcCalendar-date{
    color: #AEB3D3;
}
.jqcCalendar-body .jqcCalendar-item.warn{
    background: #FEF5E6;
}
.jqcCalendar-body .jqcCalendar-item.info{
    background: #F2F2F2;
}
.jqcCalendar-week div {
    width: 15%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #777;
    padding-right: 10px;
}
.jqcCalendar-prevMonth,
.jqcCalendar-nextMonth {
    background: #f8f8f8!important;
}
.jqcCalendar-today .jqcCalendar-date{
    color: #fff;
    background: #E9A78F;
}
.jqcCalendar-today.error .jqcCalendar-date{
    color: #fff!important;
    background: #AEB3D3;
}
.jqcCalendar-prevMonth .jqcCalendar-date,
.jqcCalendar-prevMonth .jqcCalendar-date {
    opacity: 0.7;
}
.jqcCalendar-date{
    font-size: 14px;
    position: absolute;
    top: 2px;
    right: 6px;
    color:  #E9A78F;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
}
.jqcCalendar-switch-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jqcCalendar-prev-btn,
.jqcCalendar-next-btn{
    width: 26px;
    height: 20px;
    cursor: pointer;
}
.jqcCalendar-prev-btn{
    background: url('./images/icon_prev.png') no-repeat center;
}
.jqcCalendar-next-btn{
    background: url('./images/icon_next.png') no-repeat center;
}
.jqcCalendar-item-tips {
    height: 18px;
    margin-bottom: 4px;
    border-radius: 0 6px 6px 0;
    padding: 0 8px 0 12px;
    line-height: 18px;
    position: relative;
    color: #AEB3D3;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.jqcCalendar-item-tips:hover,
.jqcCalendar-item-tips.hover {
    color: #fff!important;
}
.jqcCalendar-item-tips:hover::after,
.jqcCalendar-item-tips.hover::after {
    opacity: .6;
}
.jqcCalendar-item-tips:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #AEB3D3;
    z-index: 2;
}
.jqcCalendar-item-tips p {
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.jqcCalendar-item-tips p:nth-child(1) {
    width: 100%;
}
.jqcCalendar-item-tips:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    background: #AEB3D3;
}
.jqcCalendar-item-tips.error {
    color: #E27275;
}
.jqcCalendar-item-tips.error::before,
.jqcCalendar-item-tips.error::after {
    background: #E27275;
}
.jqcCalendar-item-tips.success {
    color: #A8CADD;
}
.jqcCalendar-item-tips.success::before,
.jqcCalendar-item-tips.success::after {
    background: #A8CADD;
}
.jqcCalendar-item-tips.warn {
    color: #EFC27B;
}
.jqcCalendar-item-tips.warn::before,
.jqcCalendar-item-tips.warn::after {
    background: #EFC27B;
}
.jqcCalendar-item-tips.info {
    color:  #E9A78F;
}
.jqcCalendar-item-tips.info::before,
.jqcCalendar-item-tips.info::after {
    background:  #E9A78F;
}
.jqcCalendar-item-tip{
    min-width: 32px;
    margin-left: 5px;
}
.jqcCalendar-item-more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #858AAC;
    cursor: pointer;
    height: 18px;
    flex-shrink: 0;
    user-select: none;
}
.jqcCalendar-item-more ~ .jqcCalendar-item-tips{
    display: none;
}
.jqcCalendar-more-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 10px;
}
.jqcCalendar-more-container::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 25px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 1px solid #F2F2F2;
    background: #fff;
    z-index: 1;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
}
.jqcCalendar-more-container.is-bottom::before{
    top: initial;
    bottom: -5px;
}
.jqcCalendar-more-container::after{
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 20px;
    background: #fff;
    z-index: 2;
}
.jqcCalendar-more-container.is-bottom::after{
    top: initial;
    bottom: 0;
}
.jqcCalendar-more-container .jqcCalendar-item-tips:nth-last-child(1){
    margin-bottom: 0;
}
/*编辑日程*/
.jqcCalendar-memo-editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 313px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 15px;
    z-index: 1000;
    box-sizing: border-box;
    font-size: 12px;
}
.jqcCalendar-memo-editor-color{
    display: inline-block;
    width: 8px!important;
    height: 8px!important;
    border-radius: 1px;
    margin-right: 7px!important;
}
.jqcCalendar-memo-editor-timebox > div {
    overflow: hidden;
}
.jqcCalendar-memo-editor-timebox > div:nth-child(1) {
    margin-bottom: 20px;
}
.editor .jqcCalendar-memo-editor-timebox > div:nth-child(1) {
    margin-bottom: 10px;
}
.jqcCalendar-memo-editor.view {
    line-height: 20px;
    width: 200px;
}
.jqcCalendar-memo-editor > div {
    overflow: hidden;
}
.jqcCalendar-memo-editor.editor{
    /*padding-left: 73px;*/
}
.jqcCalendar-memo-editor.editor > div span+div {
    width: 225px;
    float: right;
    position: relative;
}
.jqcCalendar-memo-editor.editor > div span+div span{
    position: absolute;
    z-index: 8;
    left: 0;
    top: 11px;
}
.jqcCalendar-memo-editor > div span{
    float: left;
    width: 63px;
    color: #999;
}
.jqcCalendar-memo-editor.editor > div span{
    float: left;
    width: 63px;
    color: #444;
}
.jqcCalendar-memo-editor.editor > div span{
    width: 55px;
    line-height: 30px;
}
.jqcCalendar-memo-editor > div p{
    float: left;
    width: 105px;
    display: flex;
    align-items: center;
    color: #666;
}
.jqcCalendar-memo-editor-text {
    color: #222!important;
    word-break: break-all;
}
.jqcCalendar-memo-editor::before{
    content: '';
    position: absolute;
    top: 15px;
    left: -5px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    z-index: 1;
}
.jqcCalendar-memo-editor.bottom::before{
    top: initial;
    bottom: 15px;
}
.jqcCalendar-memo-editor::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    width: 20px;
    height: 50px;
    z-index: 2;
}
.jqcCalendar-memo-editor.bottom::after{
    top: initial;
    bottom: 0;
    left: 0;
}
.jqcCalendar-memo-editor.jqcCalendar-memo-editor-arrow-right::before{
    right: -5px;
    left: initial;
}
.jqcCalendar-memo-editor.jqcCalendar-memo-editor-arrow-right::after{
    right: 0;
    left: initial;
}
.jqcCalendar-memo-editor * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
    font-size: 12px!important;
}
.jqcCalendar-memo-editor textarea,
.jqcCalendar-memo-editor input {
    padding: 5px 10px;
    display: inline-block;
    width: 60%;
    height: 30px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
.jqcCalendar-memo-editor-content{
    /*height: 30px;*/
}
.jqcCalendar-memo-editor textarea:hover,
.jqcCalendar-memo-editor input:hover,
.jqcCalendar-memo-editor textarea:focus,
.jqcCalendar-memo-editor input:focus {
    border-color: #999!important;
}
.jqcCalendar-memo-editor-start,
.jqcCalendar-memo-editor-end {
    width: 120px!important;
    padding-left: 36px!important;
    background: url('./images/icon-date.png') no-repeat 10px center;
    background-size: 16px 16px;
    cursor: pointer;
}
.jqcCalendar-memo-editor-start-time,
.jqcCalendar-memo-editor-end-time {
    width: 100px!important;
    padding-left: 36px!important;
    background: url('./images/icon-time.png') no-repeat 10px center;
    background-size: 16px 16px;
    margin-left: 5px;
    cursor: pointer;
}
.jqcCalendar-memo-editor textarea:focus,
.jqcCalendar-memo-editor input:focus {
    outline: none;
}
.jqcCalendar-memo-editor pre{
    min-height: 30px;
    line-height: 20px;
    white-space: normal;
    word-break: break-all;
    letter-spacing: 0;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #fff;
    visibility: hidden;
}
.jqcCalendar-memo-editor textarea{
    color: #222;
    resize: none;
    position: absolute;
    letter-spacing: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    background-position: 0 5px;
}
.jqcCalendar-memo-editor input{
    color: #222;
}
.jqcCalendar-memo-editor-textarea{
    position: relative
}
.jqcCalendar-memo-editor-timebox{
    padding: 14px 0;
    margin: 15px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.jqcCalendar-memo-editor-type{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jqcCalendar-memo-type {
    padding-left: 26px!important;
    width: 100%!important;
}
.jqcCalendar-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
}