@charset 'UTF-8';
.jqcUpload-container,
.jqcUpload-container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.jqcUpload-container{
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #222;
}
.jqcUpload-container input:focus{
    outline: none;
}
.jqcUpload-container input:hover{
    border: none!important;
}
.jqcUpload-input{
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 200%;
    display: block;
    opacity: 0;
    cursor: pointer;
}
.jqcUpload-input-mask {
    display: flex;
    position: relative;
    align-items: center;
    height: 30px;
    overflow: hidden;
}
.jqcUpload-container.jqcUpload-single .jqcUpload-input-mask{
    width: 122px;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 2px 0 0 2px;
}
.jqcUpload-container.jqcUpload-single .jqcUpload-file-name{
    width: 96px;
    padding: 0 10px;
    font-size: 12px;
    border: none;
    height: 28px;
}
.jqcUpload-btn {
    height: 30px;
    min-width: 70px;
    border-radius: 0 2px 2px 0;
    padding: 0 15px;
    font-size: 12px;
    color: #fff;
    background: #C63136;
    border: none;
    cursor: pointer;
}
.jqcUpload-btn:focus {
    outline: none;
}
.jqcUpload-btn:hover {
    background: #D86065;
}
.jqcUpload-select-files{
    display: block;
    height: 30px;
    min-width: 70px;
    border-radius: 2px;
    background: #C63136;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
}
.jqcUpload-container.jqcUpload-multiple{
    display: block;
}
.jqcUpload-container.jqcUpload-multiple .jqcUpload-input-mask:hover .jqcUpload-select-files{
    background: #D86065;
}
.jqcUpload-header{
    display: flex;
    padding-left: 10px;
}
.jqcUpload-header .jqcUpload-btn {
    background: #a8cadd;
    border-radius: 2px;
}
.jqcUpload-header .jqcUpload-btn:hover {
    background: #b3d2e4;
}
.jqcUpload-header .jqcUpload-btn:active {
    background: #779eb3;
}
.jqcUpload-placeholder {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 10px;
}
.jqcUpload-files-item{
    display: flex;
    align-items: center;
    height: 30px;
    width: 360px;
    padding: 5px 10px;
    margin-top: 10px;
    transition: color .3s;
    border-radius: 4px;
}
.jqcUpload-files-item .close{
    cursor: pointer;
    transition: all .5s;
    display: none;
    font-size: 14px;
}
.jqcUpload-files-item .close::before{
    content: "\e909";
    color: #999;
}
.jqcUpload-files-item .close.uploaded{
    display: block;
}
.jqcUpload-files-item .close.uploaded::before{
    content: '\e933';
    color: #a8cadd;
}
.jqcUpload-files-item:hover{
    background: #f5f6fa;
}
.jqcUpload-files-item:hover .close{
    display: block;
}
.jqcUpload-files-item:hover .close.uploaded::before{
    content: "\e909";
    color: #999;
}
.jqcUpload-files-item p{
    width: 294px;
    margin: 0 20px 0 6px;
    color: #333;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.jqcUpload-container.loading .jqcUpload-btn {
    padding: 0 6px;
    cursor: not-allowed;
}
.jqcUpload-container.loading .jqcUpload-loading{
    display: inline-block;
}
.jqcUpload-container.loading .jqcUpload-input {
    cursor: not-allowed;
}
.jqcUpload-container.loading .close {
    cursor: not-allowed;
}
.jqcUpload-loading{
    margin-left: 4px;
    display: none;
}
.jqcUpload-loading::before{
    color: #fff!important;
}
.jqcUpload-files-list{
    max-height: 210px;
    overflow-y: auto;
    width: 380px;
}
.jqcUpload-input:disabled{
    cursor: not-allowed;
}