.jqcCheckbox-container{
    display: flex;
    flex-wrap: wrap;
}
.jqcCheckbox-container.column{
    flex-direction: column;
}
.jqcCheckbox-container * {
    box-sizing: border-box!important;
}
.jqcCheckbox-container > div > p{
    height: 14px;
    margin-right: 20px;
    font-size: 14px;
    color: #444;
    line-height: 14px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.jqcCheckbox-container > div > p:hover::before{
    border-color: #C63136;
}
.jqcCheckbox-container > div > p::before{
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid #B8B9C5;
    border-radius: 2px;
    margin-right: 5px;
    background-color: #fff;
}
.jqcCheckbox-container.radio > div > p::before{
    border-radius: 50%;
    background-color: #fff;
}
.jqcCheckbox-container > div.required > p,
.jqcCheckbox-container > div.disabled > p{
    cursor: not-allowed!important;
}
.jqcCheckbox-container > div.disabled > p::before{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
}
.jqcCheckbox-container > div.active > p::before{
    border-color: #C63136;
    background-color: #C63136;
    background-image: url('./images/icon_checked.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-container > div.active.disabled > p::before{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_checkbox_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-container.radio > div.active.disabled > p::before{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_radio_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-container.radio > div.active > p::before{
    border-color: #C63136;
    background-color: #fff;
    background-image: url('./images/icon_radio_active.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-container > div.required > p::before{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_checkbox_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-container.radio > div.required > p::before{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_radio_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.jqcCheckbox-item{
    display: flex;
    align-items: center;
    height: 30px;
}